* {
  font-family: "Roboto";
  box-sizing: border-box;
}

main#main {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.navbar nav {
  height: 5rem;
  display: flex;
  background-color: #222;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navbar ol, .navbar ol li, .navbar ol li a {
  display: flex;
  flex-grow: 1;
}

.navbar ol {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.navbar ol li, .navbar ol li a {
  width: 100%;
  height: 100%;
}

.navbar ol li a {
  color: #aaa;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: #222;
}

.navbar ol li a:hover {
  transition: 0.3s;
  background-color: rgba(44, 44, 44, 0.8);
}

.navbar aside {
  display: flex;
  flex-direction: column;
}

aside.title {
  width: 50%;
  color: #fff;
  flex-direction: row;
  padding: 0 1.3rem;
  align-items: center;
  justify-content: start;
}

.title>div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.title h1 {
  font-size: 1.3rem;
  line-height: 2rem;
}

.title span {
  font-size: 0.8rem;
  color: #ccc;
}

.title .right-title {
  margin-right: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.title .right-title::after {
  content: "";
  position: absolute;
  right: -1rem;
  height: 60%;
  width: 2px;
  background-color: #fff;
}

.navigation {
  width: 50%;
  justify-content: center;
}

a.active {
  color: #fff !important;
}

.resume-item, .resume-content, .resume-content .profile-content {
  display: flex;
  flex-direction: column;
}

.resume-content .profile-content {
  flex-grow: 1;
}

.resume-content {
  height: calc(100vh - 5rem);
}

.resume-item {
  height: 100vh;
  padding-top: 5rem;
  position: relative;
}

.resume-item:nth-child(2n) {
  background: linear-gradient(110deg, #333 60%, #282828 60%);
}

.resume-item:nth-child(2n + 1) {
  background: linear-gradient(70deg, #333 60%, #282828 60%);
}

.resume-item * {
  color: #444;
}

.resume-item header {
  padding: 2rem 0;
}

.resume-item header h1 {
  font-size: 2rem;
  position: relative;
  padding-bottom: 1rem;
}

.resume-item header h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #999;
}

.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-card {
  padding: 1rem;
  position: absolute;
  width: 80%;
  height: 90%;
  background-color: #222;
  display: flex;
  border-radius: 8px;
}

.profile-card * {
  color: #aaa;
}

.profile-card aside {
  display: flex;
  flex-grow: 1;
}

#information .profile-image {
  position: absolute;
  width: 100%;
  justify-content: center;
  top: -100px;
  left: 0;
}

.profile-image img {
  border-radius: 1000px;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 14px -6px #000;
}

.information-profile-card {
  padding-top: 100px;
  margin-top: 100px;
  height: calc(90% - 200px);
  width: 50%;
}

.profile-info, .timeline {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.profile-info h1, .experience-info h1 {
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
  position: relative;
  width: 100%;
  color: #fff;
}

.profile-info h1::after, .experience-info h1::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #444;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.profile-info>div {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  width: 100%;
}

.profile-info>div>div {
  display: flex;
  width: 100%;
}

.profile-info>div:not(:nth-child(1)) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.profile-info p {
  text-indent: 16px;
  text-align: justify;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

#dynamic-scroll {
  transition: 1s ease-in-out;
  transform: translateY(0px);
}

.timeline {
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  background-color: #ffb0b0;
}

.timeline p {
  text-align: justify;
  font-size: 0.8rem;
  line-height: 1rem;
}

.timeline-row {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.timeline-row>div {
  width: 50%;
  display: flex;
  flex-grow: 1;
  padding: 1rem 2rem;
  position: relative;
}

.year {
  position: relative;
  display: flex;
  align-items: center;
}

.year span {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: rgb(228, 104, 104);
  z-index: 10;
  display: inline-block;
}

.nav-item-icon {
  display: none;
}

.timeline-row:nth-child(2n) {
  flex-direction: row-reverse;
}

.timeline-row:nth-child(2n) .year {
  display: flex;
  justify-content: flex-end;
}

.timeline-row:nth-child(2n) .year span {
  right: -10px;
}

.timeline-row:nth-child(2n + 1) .year span {
  left: -10px;
}

@media screen and (max-width: 768px) {
  .title .right-title {
    display: none;
  }
  .nav-item-icon {
    display: initial;
  }
  .nav-item-desc {
    display: none;
  }
  aside.title {
    padding: 0 0 0 1rem;
    width: fit-content;
  }
  aside.title h1 {
    font-size: 80%;
  }
  aside.title span {
    font-size: 50%;
  }
  .navbar nav {
    justify-content: space-between;
  }
  .profile-card {
    height: calc(100% - 60px);
    width: calc(100% - 2ch);
  }
  .information-profile-card {
    width: calc(100% - 2ch);
    height: calc(100% - 160px);
  }
  .profile-image img {
    width: 160px;
    height: 160px;
  }
  .timeline {
    padding: 0;
  }
  .timeline p {
    text-align: initial;
  }
  .timeline-row>div {
    padding: 0;
    margin: 0;
  }
  .timeline-row>div.year {
    order: 1;
  }
  .timeline-row>div:nth-child(1) {
    order: 2;
    padding: 1rem;
  }
  .timeline .timeline-row {
    flex-direction: row;
  }
  .timeline-row > .year {
    display: flex;
    justify-content: flex-start;
    width: 4ch;
    padding-left: 30px;
  }
  .timeline::after {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    width: 4px;
    height: 100%;
    background-color: #ffb0b0;
  }
  .timeline > .timeline-row > div.year > span {
    left: 8px;
  }
}
