* {
  font-family: "Roboto";
  box-sizing: border-box;
}

main#main {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.navbar nav {
  height: 6rem;
  display: flex;
  background-color: #444;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navbar ol,
.navbar ol li,
.navbar ol li a {
  display: flex;
  flex-grow: 1;
}

.navbar ol {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.navbar ol li,
.navbar ol li a {
  width: 100%;
  height: 100%;
}

.navbar ol li a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: #444;
}

.navbar ol li a:hover {
  transition: 0.3s;
  background-color: rgba(90, 90, 90, 0.8);
}

.resume-item,
.resume-content,
.resume-content .profile-content {
  display: flex;
  flex-direction: column;
}

.resume-content .profile-content {
  flex-grow: 1;
}

.resume-content {
  height: calc(100vh - 6rem);
}

.resume-item {
  height: 100vh;
  padding-top: 6rem;
  position: relative;
}

.resume-item * {
  color: #444;
}

.resume-item header {
  padding: 2rem 0;
}

.resume-item header h1 {
  font-size: 2rem;
  position: relative;
  padding-bottom: 1rem;
}

.resume-item header h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #999;
}

.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222;
  display: flex;
}

.profile-card * {
  color: #fff;
}

.profile-card aside {
  display: flex;
  flex-grow: 1;
  width: 50%;
}

.profile-info {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info h1 {
  font-size: 2rem;
  margin: 3rem 0 4rem 0;
  position: relative;
  width: 100%;
}

.profile-info h1::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.profile-info > div {
  display: flex;
  width: 100%;
}

.profile-info > div:not(:nth-child(1)) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.profile-info p {
  margin-top: 1rem;
  text-indent: 20px;
  text-align: justify;
  letter-spacing: 1px;
}

.profile-card aside img {
  width: 100%;
}

#dynamic-scroll {
  transition: 1s ease-in-out;
  transform: translateY(0px);
}

.resume-item:nth-child(2n) {
  background-color: rgb(204, 204, 204);
}
